<link rel="import" href="../polymer/polymer.html">

<dom-module id='name-card'>
  <link rel="import" type='css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <template>
    <p>
      <template is='dom-if' if="{{!edit}}">
        <span>{{fullname}}</span>
      </template>
      <template is="dom-if" if="{{edit}}">
        <label>First:</label> <input type="text" value="{{first::input}}"> <label>Last:</label> <input type="text" value="{{last::input}}">
      </template>
      <button on-click="toggleEdit"><i class="fa fa-pencil"></i></button>
    </p>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'name-card',
    properties: {
      first: {
        type:String,
        reflectToAttribute: true
      },
      last: {
        type:String,
        reflectToAttribute: true
      },
      fullname: {
        computed: '_computeFullName(first, last)'
      },
    },
    ready: function() {
      this.edit = false;
    },
    toggleEdit: function() {
      return (this.edit = !this.edit);
    },
    _computeFullName: function (first, last) {
      return first + ' ' + last;
    }
  });
</script>